@import "../../variables";

.round {
  position: absolute;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#cta{
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.second{margin-left: 8px;}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% { opacity: 1; transform: translateX(0px) scale(1); }
  25% { opacity: 0; transform:translateX(10px) scale(0.9); }
  26% { opacity: 0; transform:translateX(-10px) scale(0.9); }
  55% { opacity: 1; transform: translateX(0px) scale(1); }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.first.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round:hover .arrow.first{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

//#chevron {
//  height: 50px;
//  width: 50px;
//  position: absolute;
//  top: 70%;
//  left: 48%;
//  transform: translate(-50%, -50%);
//  color: $active_color;
//}
//
//.bounce {
//  -moz-animation: bounce 5s infinite;
//  -webkit-animation: bounce 5s infinite;
//  animation: bounce 5s infinite;
//}
//
//@-moz-keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -moz-transform: translateY(0);
//    transform: translateY(0);
//  }
//  40% {
//    -moz-transform: translateY(-30px);
//    transform: translateY(-30px);
//  }
//  60% {
//    -moz-transform: translateY(-15px);
//    transform: translateY(-15px);
//  }
//}
//
//@-webkit-keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -webkit-transform: translateY(0);
//    transform: translateY(0);
//  }
//  40% {
//    -webkit-transform: translateY(-30px);
//    transform: translateY(-30px);
//  }
//  60% {
//    -webkit-transform: translateY(-15px);
//    transform: translateY(-15px);
//  }
//}
//
//@keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -moz-transform: translateY(0);
//    -ms-transform: translateY(0);
//    -webkit-transform: translateY(0);
//    transform: translateY(0);
//  }
//  40% {
//    -moz-transform: translateY(-30px);
//    -ms-transform: translateY(-30px);
//    -webkit-transform: translateY(-30px);
//    transform: translateY(-30px);
//  }
//  60% {
//    -moz-transform: translateY(-15px);
//    -ms-transform: translateY(-15px);
//    -webkit-transform: translateY(-15px);
//    transform: translateY(-15px);
//  }
//}