.card-block {
  z-index: 2;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card {
    overflow: hidden;
  }
}

/*Extra small devices (small laptops, 1000px - 1300px)*/
@media (max-width: 1400px) {
  .card-block {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .card-block {
    top: 75%;
    left: 50%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  h1 {
    font-size: 1rem;
  }

  .card-block {
    visibility: hidden;
  }
}