@import "variables.scss";

.App {
  height: 100vh;
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  a{
    color: $primary_color;

    &:hover {
      text-decoration: none;
      color: $button_active_background_color;
    }
  }

  .btn{
    transition: transform .5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .red-button {
    background-color: $button_active_background_color;
    border-color: $button_active_background_color;
    color: $solid_button_text_color;
  }

  .blue-button {
    background-color: $primary_color;
    border-color: $primary_color;
    color: $solid_button_text_color;
  }

  .btn-outline-primary {
    border-color: $primary_color;
    color: $primary_color;

    &:hover {
      @extend .red-button;
    }
  }

  .btn-outline-primary.blue-background{
    @extend .blue-button;

    &:hover {
      @extend .red-button;
    }
  }

  .btn-outline-primary.red-outline {
    background-color: $primary_color;
    border-color: $button_active_background_color;
    color: $button_active_background_color;

    &:hover {
      @extend .red-button;
    }
  }

  .background-container {
    position: relative;

    .media-overlay {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, $light_color, rgba(0, 0, 0, 0));
        opacity: .5;
      }
    }
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-group > .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .pagewide {
    height: 30px;
  }
}

@media (max-width: 992px) {
  .buffer-content {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 2000px) {
  body, html, a {
    font: 400 20px Lato, sans-serif;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
  }
}
