$primary_color: #0b143d;
$active_color: #ed1c22;
$light_color: #f5f5f5;

$dark_background_text_color: $light_color;
$solid_button_text_color: $light_color;
$footer_background_color: $light_color;

$button_active_background_color: $active_color;
